@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'YekanBakhFaNum-Regular', Arial, Helvetica, sans-serif;
}
@font-face {
  font-family: 'YekanBakhFaNum-Regular';
  src: url('/fonts/YekanBakhFaNum-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@layer base {
.content h1{font-size: 1.8rem; padding: 10px 0;}
.content h2{font-size: 1.7rem;padding: 10px 0;}
.content h3{font-size: 1.5rem;padding: 10px 0;}
.content h4{font-size: 1.3rem;padding: 10px 0;}
.content ul{padding: 15px; background-color: #f8f8f8;border-radius: 10px;margin:5px}
.content ul li{margin-right:20px;list-style-type: disc;}
.toc-level-1{margin-right: 1px;}
.toc-level-2{margin-right: 5px;}
.toc-level-3{margin-right: 10px;}
}
.toc-sidebar {
  position: sticky;
  top: 20px; /* فاصله از بالای صفحه */
  align-self: flex-start; /* برای flex container */
  height: fit-content;
  max-height: 80vh; /* حداکثر ارتفاع */
  overflow-y: auto; /* اسکرول داخلی اگر محتوا بلند شد */
}

/* برای responsive design */
@media (max-width: 768px) {
  .toc-sidebar {
    position: relative;
    top: 0;
    margin-bottom: 20px;
  }
}
p{
  line-height: 2rem;
}




.centered-swiper .swiper-slide {
  width: 200px;
  height: 200px;
  background: #6FD6E5;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
  filter: blur(2px);
  transform: scale(0.85);
  opacity: 0.6;
}

.centered-swiper .swiper-slide-active {
  filter: none;
  transform: scale(1);
  opacity: 1;
  background: #3db4c6;
  color: white;
}

.slide-content {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
}
