@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'IRANSansWeb', Arial, Helvetica, sans-serif;
}
@font-face {
  font-family: 'IRANSansWeb';
  src: url('/fonts/IRANSansWeb.woff') format('truetype');
  font-weight: normal;
  font-style: normal;
}
h1{font-size: 1.9rem;}
h2{font-size: 1.7rem;}
h3{font-size: 1.5rem;}
h4{font-size: 1.3rem;}
p{line-height: 2rem;}



.centered-swiper .swiper-slide {
  width: 200px;
  height: 200px;
  background: #6FD6E5;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
  filter: blur(2px);
  transform: scale(0.85);
  opacity: 0.6;
}

.centered-swiper .swiper-slide-active {
  filter: none;
  transform: scale(1);
  opacity: 1;
  background: #3db4c6;
  color: white;
}

.slide-content {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
}
